{
    "extends": [
        "eslint:recommended",
        "@sanity/eslint-config-studio",
        "next",
        "prettier"
    ],
    "ignorePatterns": ["prism.js"],
    "plugins": ["simple-import-sort"],
    "rules": {
        "simple-import-sort/imports": "warn",
        "simple-import-sort/exports": "warn",
        "react-hooks/exhaustive-deps": "error"
    }
}
