/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+arduino+c+cpp+jsx+tsx+scss+swift+typescript */
code[class*="language-"],
pre[class*="language-"] {
    --primary-0: #f3f0ff;
    --primary-1: #e5dbff;
    --primary-2: #d0bfff;
    --primary-3: #b197fc;
    --primary-4: #9775fa;
    --primary-5: #845ef7;
    --primary-6: #7950f2;
    --primary-7: #7048e8;
    --primary-8: #6741d9;
    --primary-9: #5f3dc4;
    --secondary-0: #f4fce3;
    --secondary-1: #e9fac8;
    --secondary-2: #d8f5a2;
    --secondary-3: #c0eb75;
    --secondary-4: #a9e34b;
    --secondary-5: #94d82d;
    --secondary-6: #82c91e;
    --secondary-7: #74b816;
    --secondary-8: #66a80f;
    --secondary-9: #5c940d;
    --tertiary-0: #e7f5ff;
    --tertiary-1: #d0ebff;
    --tertiary-2: #a5d8ff;
    --tertiary-3: #74c0fc;
    --tertiary-4: #4dabf7;
    --tertiary-5: #339af0;
    --tertiary-6: #228be6;
    --tertiary-7: #1c7ed6;
    --tertiary-8: #1971c2;
    --tertiary-9: #1864ab;
    --gray-0: #f8f9fa;
    --gray-1: #f1f3f5;
    --gray-2: #e9ecef;
    --gray-3: #dee2e6;
    --gray-4: #ced4da;
    --gray-5: #adb5bd;
    --gray-6: #868e96;
    --gray-7: #495057;
    --gray-8: #343a40;
    --gray-9: #212529;

    --bg: var(--gray-9);
    --text-1: var(--gray-0);
    --text-2: var(--gray-2);
    --text-3: var(--gray-5);
    --text-4: var(--gray-6);
    --text-5: var(--gray-7);
    --text-primary-1: var(--primary-9);
    --text-primary-2: var(--primary-7);
    --text-primary-3: var(--primary-5);
    --text-primary-4: var(--primary-3);
    --text-tertiary-1: var(--tertiary-9);
    --text-tertiary-2: var(--tertiary-5);
    --text-secondary-1: var(--secondary-5);
    --text-secondary-2: var(--secondary-3);
}

code[class*="language-"],
pre[class*="language-"] {
    color: var(--text-1);
    font-family: "Cascadia Code", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
pre[class*="language-"] {
    overflow: auto;
    background: var(--bg);
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: var(--text-5);
}
.token.punctuation {
    color: var(--text-4);
}
.token.namespace {
    /* TODO: Not sure about this */
    color: var(--text-3);
}
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
    color: var(--text-primary-2);
}
.token.boolean,
.token.number {
    color: var(--text-tertiary-2);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted {
    color: var(--text-primary-4);
}
.token.selector,
.token.string {
    color: var(--text-secondary-2);
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
    color: var(--text-2);
}
.token.atrule,
.token.attr-value,
.token.function {
    color: var(--text-secondary-1);
}
.token.class-name {
    color: var(--text-3);
}
.token.keyword {
    color: var(--text-primary-3);
}
.token.important,
.token.regex {
    color: var(--text-primary-1);
}
.token.bold,
.token.important {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}
.token.entity {
    cursor: help;
}
